body {
    text-align: left;
    background-color: blue;
}
label {
    color: orange);
    font-size: 4em;
}
input {
	color: orange);
    font-size: 4em;
  }
input[type = submit] {
    color: orange);
    font-size: 4em;
  }
h1 {
	color: orange);
    font-size: 4em;
}