body {
    text-align: left;
    background-color: blue;
}
label {
    color: orange);
    font-size: 4em;
}
input {
	color: orange);
    font-size: 4em;
  }
input[type = submit] {
    color: orange);
    font-size: 4em;
  }
h1 {
	color: orange);
    font-size: 4em;
}
@media only screen and (min-width: 400px) {
body {
	background-color: gray;
    }
input {
	width: 80%;
    }
input[type=submit] {
	width: 80%;
    }
  }
  
@media only screen and (min-width: 900px) {
body {
     background-color: gray;
    }
input {
     width: 80%;
     } 
input[type=submit] {
     width: 80%;
    }
  }